#main4 .wrap .brand .slick-next{
    right: -80px;   
}
#main4 .wrap .brand .slick-next::before{
    background-image: url(../img/nextb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px; 
    color: transparent;
}
#main4 .wrap .brand .slick-prev{
    left: -70px;
}
#main4 .wrap .brand .slick-prev::before{
    background-image: url(../img/prevb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;
    color: transparent;
}
#main4 .wrap .brand .slick-dots{
    bottom: -80px;
}